.footer {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	height: 70px;
}

.div {
	width: 40%;
	margin: 04px auto;
	background-color: #e4d9d9;
	padding: 4px;
	border-radius: 4px;
}

.div1 {
	width: 100%;
	padding: 4px;
	margin-bottom: 8px;
}

.input {
	width: 95%;
	padding: 5px;
	margin-bottom: 4px;
	border-radius: 5px;
}

.select {
	width: 98%;
	padding: 5px;
	margin-bottom: 4px;
	border-radius: 5px;
}

.button {
	padding: 6px 12px;
	border-color: red;
	background-color: red;
	color: white;
	margin-left: 34px;
}